/vendor/
/.idea/
/config/config.yaml
/config/facebook_tokens.json
/api-skeleton/
/.phpunit.result.cache
/*.log
/.vscode/
**/.php-cs-fixer.dist.php

.copilot/composer-path-repositories.backup.json

git
